{% if tool == "illustrator" %}
  <span class="tool illustrator">{{ tool }}</span>
{% elsif tool == "inDesign" %}
  <span class="tool indesign">{{ tool }}</span>
{% elsif tool = "photoshop"%}
  <span class="tool photoshop">{{ tool }}</span>
{% else %}
  <span class="tool">{{ tool }}</span>
{% endif %}


<!-- ---
layout: default
---

<style>
    body {
        overflow-x: hidden;
    }

    .wrapper {
        margin: 0 auto;
        height: 200px;
        width: 90vw;       
        position: relative;
    }

    .container {
        margin: 0 auto;
        height: 150px;
        width: 90vw;
        border: solid red 0px;
        overflow-x: scroll;
        z-index: 10;
    }

    .child {
        height: 100px;
        width: 150%;
        position: relative;
        display: flex;
    }

    .card {
        background: pink;
        height: 100px;
        width: 100px;
        margin: 10px;
    }

    .clone {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
    }

    .transparent {
        background: transparent;
    }
</>

<div class="wrapper">
    <div class="container">
        <div class="child">
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ site.url | prepend: baseurl }}/assets/js/jquery-3.6.0.js"></script>

<script>
const container = $(".container")
const child = container.find('.child');
const clone = child.clone();
const border = 0;

clone.addClass('clone');
child.addClass('transparent');
container.css('border-width', border);
container.before(clone)

$(".container").on('scroll', function() {
  const offset = $(this).scrollLeft() - border;
  clone.css({
    left: - offset
  })
})
</script> -->




<!-- OLD CODE -->


  <!-- <div class="nav-logo">
    <a href="{{ site.url }}{{ site.baseurl }}"><h4 class="nav-logo-name">Kyree Fisher</h4></a>
  </div>

  <div class="nav-button-container">
    {% assign variable = 0 %}
    {% for item in site.data.navigation %}

    {% assign page_name = item.name | slugify %}
    {% assign variable = variable | plus: 1 %}


    <a href="{{ site.url }}{{ site.baseurl }}{{ item.link }}" class="nav-button {% if page.url == item.link or item.name == "portfolio" and item.link == "/#home-featured_container" %}current{% endif
      %}" id="{{ page_name }}">{{ item.name }}</a>
    {% endfor %}
  </div> -->