<div>
    <div>

        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed massa nulla. Pellentesque posuere vestibulum commodo. In posuere aliquam sollicitudin. Nullam ultrices eget nisl mattis mattis. Sed ultrices, nisi vel lacinia volutpat, magna quam elementum mauris, at feugiat diam eros nec ligula. Quisque id ex at tortor dapibus efficitur nec eget tortor. Praesent pharetra semper purus, a pellentesque lorem. Sed feugiat est a ex tincidunt fringilla. Curabitur efficitur dapibus sodales. Ut at imperdiet sem. Vivamus tincidunt quam felis, eget rutrum orci placerat vitae.
        <br>
        <br>
        Donec euismod, felis sit amet vulputate fermentum, eros lorem vulputate dolor, tincidunt mollis lectus nisl vel urna. Curabitur sit amet malesuada magna, vel porttitor turpis. Etiam porttitor, odio semper lacinia tempor, ipsum erat semper nibh, ac varius est nisl sed dui. Duis egestas, neque at dignissim sodales, lacus felis tempus ipsum, vel feugiat odio ante vitae nisl. Morbi id dignissim nulla. Nullam molestie dui ut sem vulputate, eu vestibulum dolor mattis. Nullam suscipit quis enim nec placerat.
        </p>
    </div>
    <div>
        <img src="">
    </div>
</div>