{% assign project_id    = project.name | slugify %}
{% assign project_img   = project.image %}
{% assign project_name  = project.name %}
{% assign project_desc  = project.description %}
{% assign project_blurb = project.blurb %}
{% assign project_tools = project.tools %}
{% assign project_url   = project.name | slugify %}
{% assign project_external = project.external_url %}

{% if project.full_name %}
  {% assign project_fullname  = project.full_name %}
{% else %}
  {% assign project_fullname  = project.name %}
{% endif %}

{% assign project_start   = project.start %}
{% assign project_end      = project.end %}
{% assign project_med       = project.medium %}
{% assign project_dim       = project.dimensions %}
{% assign project_role      = project.role %}

{% if project.priority == 1 %}
  {% assign priority        = "phase1" %}
{% elsif project.priority == 2 %}
  {% assign priority        = "phase2" %}
{% elsif project.priority == 3 %}
  {% assign priority        = "phase3" %}
{% elsif project.priority == 4 %}
  {% assign priority        = "phase4" %}
{% endif %}

{% if project.external_url %}
  {% assign external    = true %}
{% else %}
  {% assign external    = false %}
{% endif %}

{% assign project_order      = project.sort_order %}
{% assign project_featured   = project.featured_image %}
{% assign project_blurb      = project.blurb %}
{% assign project_subtitle   = project.subtitle %}


