{% assign project_id    = project.name | slugify %}
{% assign project_img   = project.image %}
{% assign project_name  = project.name %}
{% assign project_desc  = project.description %}
{% assign project_tools = project.tools %}
{% assign project_url   = project.url | relative_url %}
{% assign project_external = project.external_url %}

{% if project.external_url %}
  {% assign external    = true %}
{% else %}
  {% assign external    = false %}
{% endif %}

{% assign project_fullname  = project.full_name %}
{% assign project_datesem   = project.date_sem %}
{% assign project_year      = project.year %}
{% assign project_med       = project.medium %}
{% assign project_dim       = project.dimensions %}
{% assign project_role      = project.role %}

{% if project.priority == 1 %}
  {% assign priority        = "phase1" %}
{% elsif project.priority == 2 %}
  {% assign priority        = "phase2" %}
{% elsif project.priority == 3 %}
  {% assign priority        = "phase3" %}
{% elsif project.priority == 4 %}
  {% assign priority        = "phase4" %}
{% endif %}

{% assign project_order      = project.sort_order %}
{% assign project_featured      = project.featured_image %}