<div class="dash-pink-mini"></div>
<h2>like my work?</h2>
<h4 class="subhead">then let's work together!</h4>

<div>
    <div class="home-contact-button">
        <a href="mailto:kyreefisher01@gmail.com" target="_blank" class="project-button" id="contact-button">
          <div class="project-button_content" id="contact_content">
              <h3>kyreefisher01@gmail.com</h3>
              <img src="../assets/images/small-arrow-white.png">
          </div>
          <div class="project-button_underline blue-underline" id="contact_underline"></div>
      </a>
    </div>
  </div>