<div class="dash-pink-mini"></div>
<h1>like my work?</h1>
<h6 class="subhead">then let's work together!</h6>

<div>
    <div class="home-contact-button">
        <a href="mailto:kyreefisher01@gmail.com" target="_blank" class="project-button" id="contact-button">
          <div class="project-button_content" id="contact_content">
              <h2>kyreefisher01@gmail.com</h2>
              <img src="../assets/images/small-arrow-white.png">
          </div>
          <div class="project-button_underline blue-underline" id="contact_underline"></div>
      </a>
    </div>
  </div>