<footer>
    <p class="last-updated">last updated: 12.1.2023</p>
    <div class="contact">
        <a class="email pink-bkgd" target="_blank" href="mailto:kyreefisher01@gmail.com">        
            <img src="../assets/images/email_icon.png" alt="email: kyreefisher01@gmail.com">
            <p class="hide">kyreefisher01@gmail.com</p>
        </a>
        <a class="linkedin blue-bkgd" target="_blank" href="https://www.linkedin.com/in/kyree-fisher-942b68153">        
            <img src="../assets/images/linkedin_icon.png" alt="linkedin link">
            <p class="hide">LinkedIn</p>
        </a>
        <a class="instagram seafoam-bkgd" target="_blank" href="https://www.instagram.com/cowthatdesign/">        
            <img src="../assets/images/instagram_icon.png" alt="instagram link">
            <p class="hide">Instagram</p>
        </a>
        <a class="github purple-bkgd" target="_blank" href="https://www.github.com/cowthat">        
            <img src="../assets/images/github_icon.png" alt="github link">
            <p class="hide">Github</p>
        </a>
    </div>
    <div>
        <a class="resume" target="_blank" href="../assets/Kyree_Fisher_Resume.pdf">download resume</a>
    </div>
</footer>