{% assign sorted_projects = site.projects | sort: 'sort_order' %}

{% for project in sorted_projects %}

  {% include assign.html %}

    {% if project_id == "home-radar" or project_id == "vcuarts-alumni-gift-guide" or project_id == "guide-to-gdes" %}
    </h1>
      <a href="{{ project.url }}">
      <div class="home-featured {% if project_order == 2 %}reverse-order{% endif %} {% if project_order == 1 %}first-div{% endif %}">

        <div class="home-featured_card" id="{{ project_id }}">
          <div class="home-featured_card-shadow {% cycle 'pink-bkgd', 'blue-bkgd', 'seafoam-bkgd' %}"></div>

          <div class="{% cycle 'dash-pink-mini', 'dash-blue-mini', 'dash-seafoam-mini' %}"></div>
          <h3 class="home-featured_project-title">{{ project_name }}</h3>
          <p class="home-featured_project-desc">{{ project_desc }}</p>
          {% include role-tools.html %}

          {% include project-button.html %}

        </div>
      </a>   


        <a class="home-featured_image" href="/projects/{{ project_url }}">
          <img class="featured-img" id="{{ project_id }}_featured-img" src="assets/images/{{ project_featured }}">
        </a>

      </div>   
      
    {% endif %}

{% endfor %}
