{% assign sorted_projects = site.projects | sort: 'sort_order' %}

{% for project in sorted_projects %}

  {% include assign.html %}

    {% if project_id == "home-radar" or project_id == "vcuarts-alumni-gift-guide" or project_id == "overworld" %}
      <div class="home-featured {% if project_order == 2 %}reverse-order{% endif %} {% if project_order == 1 %}first-div{% endif %}">

      <a href="{{ project.url }}" class="home-featured_card">
        <div id="{{ project_id }}">
          <div class="home-featured_card-shadow {% cycle 'pink-bkgd', 'blue-bkgd', 'seafoam-bkgd' %}"></div>

          <div class="{% cycle 'dash-pink-mini', 'dash-blue-mini', 'dash-seafoam-mini' %}"></div>
          <h2 class="home-featured_project-title">{{ project_name }}</h2>
          <p class="home-featured_project-desc">{{ project_blurb }}</p>
          {% include role-tools.html %}

          {% include project-button.html %}

        </div>
      </a>   

      <div class="home-featured_image">
        <img id="{{ project_id }}_featured-img" src="assets/images/{{ project_featured }}">
      </div>

      </div>   
      
    {% endif %}

{% endfor %}
