<nav class="navigation">

  <div class="nav-logo">
    <a href="{{ site.url }}{{ site.baseurl }}"><h4 class="nav-logo-name">Kyree Fisher</h4></a>
  </div>

  <div class="nav-button-container">
    {% for item in site.data.navigation %}

    {% assign page_name = item.name | slugify %}

    <a href="{{ site.url }}{{ site.baseurl }}{{ item.link }}" class="nav-button {% if page.url == item.link or (item.name == "portfolio" and item.link == "/#home-featured_container" and page.url == "/") %}current{% endif %}" id="{{ page_name }}">{{ item.name }}</a>
    {% endfor %}

  </div>

</nav>