<nav class="navigation">

  <div class="nav-logo">
    <a href="{{ site.url }}">
      <h6 class="nav-logo-name">Kyree Fisher</h6>
    </a>
  </div>

  <div class="nav-button-container">

    <div class="nav-button" id="mobile-menu" onclick="toggleMobileMenu()">
      <div class="menu-line line1"></div>
      <div class="menu-line line2"></div>
      <div class="menu-line line3"></div>
      <p class="menu-text">MENU</p>
    </div>

    <div class="nav-button-main">

      {% for item in site.data.navigation %}

        {% assign page_name = item.name | slugify %}

        <a
          href="{{ site.url }}{{ item.link }}"
          class="nav-button {% if page.url == item.link or (item.name == "
        portfolio" and item.link=="/#home-featured_container" and page.url=="/" ) %}current{% endif %}"
          id="{{ page_name }}">{{ item.name }}</a>

      {% endfor %}

    </div>
  </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var mobileMenuButton = document.getElementById('mobile-menu');
    var navButtonMain = document.querySelector('.nav-button-main');

    function toggleMobileMenu() {
      mobileMenuButton.classList.toggle('open');
      navButtonMain.classList.toggle('show');
    }

    function closeMobileMenu() {
      if (mobileMenuButton.classList.contains('open')) {
        toggleMobileMenu();
      }
    }

    mobileMenuButton.addEventListener('click', function () {
      toggleMobileMenu();
    });

    document.body.addEventListener('click', function (event) {
      var isClickInsideNavigation = event.target.closest('.navigation');
      if (!isClickInsideNavigation) {
        closeMobileMenu();
      }
    });
  });
</script>
