<div class="project_image-info info-reverse">
    <img src="../assets/portfolio/phase{{ page.priority }}/{{ page.name | slugify }}/{{ page.image }}" alt="{{ project_name }}: {{project_desc}}">
    <div class="project_image-info_text">
        <div>
            <div class="dash-blue-h5"></div>
            <h5>information title</h5>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed massa nulla. Pellentesque posuere vestibulum commodo. In posuere aliquam sollicitudin. Nullam ultrices eget nisl mattis mattis. Sed ultrices, nisi vel lacinia volutpat, magna quam elementum mauris, at feugiat diam eros nec ligula.
        </p>
    </div>
</div>