<div class="portfolio-container">

  {% for project in site.projects %}
  {% include assign.html %}

    <div class="portfolio-card" id="{{ project_id }}">
      <a href="{{site.url}}{{ base.url }}{{ project.url }}">

        {%- if project_img -%}
        <img class="cover-img" id="{{ project_id }}__cover-img" src="assets/portfolio/{{ priority }}/{{ project_id }}/{{ project_img }}"
          alt="{{ project_name }}: {{project_desc}}" />
        {%- endif -%}

        <div class="portfolio-card-body">
          <h3 id="{{ project_id }}-name">
            {{ project_name }}
          </h3>
          <p id="{{ project_id }}-desc">{{ project_desc }}</p>
          
          {% include role-tools.html %}
          
        </div>

      </a>
    </div>

  {% endfor %}

</div>

<!-- {%- if external and site.open_new_tab -%} target="_blank" {%- endif -%} -->