<div id="{{project_id}}"> <!--class="wow animated fadeIn" data-wow-delay=".15s"-->
  <a href="{{ project_url }}"  target="_blank" {%- endif -%}>
    {%- if project_img -%}
    <img id="{{ project_id }}-img" src="../assets/images/cover-image/{{ project_img }}" alt="image of {{ project_name }}" />
    {%- endif -%}
    <div>
      <h5 id="{{ project_id }}-name">
        {{ project_name }}
      </h5>
      <p id="{{ project_id }}-desc">{{ project_desc }}</p>
      <p id="{{ project_id }}-tools">
        {%- for tool in project_tools -%}
        <span class="badge badge-pill text-primary border border-primary ml-1">{{ tool }}</span>
        {%- endfor -%}
      </p>
    </div>
  </a>
</div>



<!--
    {%- if external and site.open_new_tab -%}
    FOR LATER USE THIS FOR EXTERNAL LINKS INSIDE THE PAGES
-->


<!--
{%- if project_type == "remote" -%}
<i class="fab fa-github" data-toggle="tooltip" data-placement="bottom" data-delay="250" title="GitHub Repository"></i> |&nbsp;
{%- endif -%}
-->
