<div class="project_gallery">
    <img src="../assets/portfolio/phase{{ page.priority }}/{{ page.name | slugify }}/{{ page.image }}" alt="{{ project_name }}: {{project_desc}}">
    <img src="../assets/portfolio/phase{{ page.priority }}/{{ page.name | slugify }}/{{ page.image }}" alt="{{ project_name }}: {{project_desc}}">
    <img src="../assets/portfolio/phase{{ page.priority }}/{{ page.name | slugify }}/{{ page.image }}" alt="{{ project_name }}: {{project_desc}}">
    <img src="../assets/portfolio/phase{{ page.priority }}/{{ page.name | slugify }}/{{ page.image }}" alt="{{ project_name }}: {{project_desc}}">
</div>