<div class= "project-details_container">
    <div class="project-content_split" id="{{ page.name | slugify }}_details">
        <div class="project-content_split-summary">
            <h5>project summary:</h5>
            <!-- <div class="{{ project.color }}-underline"></div> -->
            <h4>{{ page.blurb }}</h4>

            {% if page.external_url %}
            <div class="highlight-button">
                <a target="_blank" href="{{ page.external_url }}" class="highlight-button_content {{ page.name | slugify }}-button">
                    <div class="highlight-button_effect-container {{ project.color }}-bkgd">
                        <div class="highlight-button_effect {{ page.name | slugify }}-button"></div>
                        <h6 class="">{{ page.external_url_blurb }}</h6>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="24" viewBox="0 0 32 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5L2 10.5ZM31.0607 13.0607C31.6464 12.4749 31.6464 11.5251 31.0607 10.9393L21.5147 1.3934C20.9289 0.807611 19.9792 0.807611 19.3934 1.3934C18.8076 1.97919 18.8076 2.92893 19.3934 3.51472L27.8787 12L19.3934 20.4853C18.8076 21.0711 18.8076 22.0208 19.3934 22.6066C19.9792 23.1924 20.9289 23.1924 21.5147 22.6066L31.0607 13.0607ZM2 13.5L30 13.5V10.5L2 10.5L2 13.5Z"/>
                    </svg>
                </a>
            </div>            
            {% endif %}
        </div>
        
        <div class="project-content_split-highlight {{ project.color }}-bkgd">
            <h6 class="light">outcome</h6>
            <p class="body-large">{{ page.medium }}</p>

            {% if page.dimensions %} 
                <h6 class="light">dimensions</h6>
                <p class="body-large">{{ page.dimensions }}</p> 
            {% endif %}

            <h6 class="light">role</h6>
            <p class="body-large">{{ page.role }}</p>

            <h6 class="light tools">tools</h6>
            <p class="body-large" id="{{ page.name | slugify }}-tools">
                {%- for tool in page.tools -%}
                    {% assign tool_class = tool | downcase | replace: ' ', '-' %}
                    <span class="tool {{ tool_class }}">{{ tool }}</span>
                {%- endfor -%}
            </p>  

            <h6 class="light">time period</h6>      
            <p class="body-large">{{ page.start }}{% if page.end %} – {{ page.end }}{% endif %}</p>
        </div>

    </div>
</div>


