<div class="project-content_split">
    <div class="project-content_split-highlight {% cycle 'blue-bkgd', 'seafoam-bkgd', 'pink-bkgd' %}">
        <p><span>outcome:</span> {{ page.medium }}</p>
        {% if page.dimensions %} <p><span>dimensions:</span> {{ page.dimensions }}</p> {% endif %}
        <p><span>role:</span> {{ page.role }}</p>
        <div>
            <p><span>tools:</span></p> 
            <p id="{{ page.name | slugify }}-tools">
                {%- for tool in page.tools -%}
                    {% assign tool_class = tool | downcase | replace: ' ', '-' %}
                    <span class="tool {{ tool_class }}">{{ tool }}</span>
                {%- endfor -%}
            </p>        
        </div>
        <p><span>time period:</span> {{ page.start }}{% if page.end %} – {{ page.end }}{% endif %}</p>
        {% if page.external_url %}
            <a target="_blank" href="{{ page.external_url }}">
                <div class="project-button">
                    <div class="project-button_content {{ page.name | slugify }}-button">
                        <h6>{{ page.external_url_blurb }}</h6>
                        <img src="../assets/images/small-arrow-white.png">
                    </div>
                    <div class="project-button_underline {{ page.name | slugify }}-button {% cycle 'seafoam-underline', 'pink-underline', 'blue-underline'  %}"></div>
                </div>            
            </a>
        {% endif %}
    </div>

    <div class="project-content_split-summary">
        <h5>project summary:</h5>
        <div class="{% cycle 'dash-pink-mini', 'dash-blue-mini', 'dash-seafoam-mini' %}"></div>
        <h4>{{ page.blurb }}</h4>
    </div>

    <!-- <a class="scroll-down" href="#home-featured_container"><img src="../assets/images/scroll-arrow-01.png" id="arrow1"><img src="../assets/images/scroll-arrow-01.png" id="arrow2"></a> -->
</div>


