<div class="project-content_split">
    <div class="project-content_split-highlight {% cycle 'blue-bkgd', 'seafoam-bkgd', 'pink-bkgd' %}"></div>
    <p>During the last sprint, SCKS decided are research plans and goals, and decided to focus on researching housing around Richmond and housing laws, as well as the current housing options available. We gathered local, statewide, and federal laws on housing, and tenants rights when renting. We also created a survey and made posters which we posted around different parts around campus.</p>
</div>