@keyframes arrow {
    24% {
        max-height: 10%;
        opacity: 1;
        transform: translateY(50px);    
    }
    25% {
        opacity: 0;
    }
    26% {
        max-height: 10%;
        opacity: 0;
        transform: translateY(-80px);    
    }
    27% {
        opacity: 1;
        max-height: 75%;
    }
}

@keyframes arrow-flipped {
    23% {
        transform: translateY(75px);    
    }
    24% {
        max-height: 10%;
        opacity: 1;
        transform: translateY(125px);    
    }
    25% {
        opacity: 0;
    }
    26% {
        max-height: 10%;
        opacity: 0;
        transform: translateY(-80px);    
    }
    27% {
        opacity: 1;
        max-height: 75%;
    }
}