$white: white;
$black: black;

$gray-1: #3e3e3e;
$gray-2: #2b2b2b;
$gray-3: #2f2f2f;

$med-gray-1: #212121;

$dark-gray-1: #161616;
$dark-gray-2: #111111;
$dark-gray-3: #020202;

$dark-gray-2-50: #11111175;

$blue: #13d0ff; //#00b8e6
$pink: #ff6b6b;
$seafoam: #59c9a5;
$purple: #b379fa; //#a96df3

$indesign: #ff3366;
$illustrator: #f8a829;
$photoshop: #4fccfe;
