$white: white;
$black: black;

$gray-1: #3E3E3E;
$gray-2: #2B2B2B;

$dark-gray-1: #161616;
$dark-gray-2: #111111;

$blue: #25A0F8;
$pink: #FF6B6B;
$seafoam: #59C9A5;
$purple: #7D5BA6;

$indesign: #FF3366;
$illustrator: #f8a829;
$photoshop: #4FCCFE;
