
@import url('https://fonts.googleapis.com/css2?family=Jost&family=Raleway:wght@500;600;700&display=swap');

@font-face {
  font-family: 'Jost-Regular';
  src: url("../fonts/Jost/static/Jost-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/static/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url("../fonts/Raleway/static/Raleway-Bold.ttf") format("truetype");
}

$raleway: Raleway, 'Raleway', sans-serif;
$jost: Jost, 'JostRegular', sans-serif;

$ralewayBold: 'Raleway-Bold', Raleway, sans-serif;
