footer {
    background: $dark-gray-3;
    width: 100vw;
    height: 60px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        margin: auto 20px;
    }

    a {
        color: $black;
        background: $pink;
        padding: 0 4px;
        margin: auto 20px;
    }
}