.home-page {
  position: relative;
  margin: 60px 0 180px;
}

.home-intro-container {
  width: 100%;
  height: calc(100vh - 60px);
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .home-intro-content {
    width: auto;
    max-width: 1220px;
    padding-right: 20%;
    margin: 0 80px;
    position: relative;
    bottom: 4vh;

    @media only screen and (max-width: $laptop) {
      padding-right: 0;
    }

    @media only screen and (max-width: $mobile) {
      margin: 0 28px
    }

    .home-dash {
      display: flex;
    }
    
    .home-hello {
      margin: 20px 0;
    }
    
    .home-blurb {
      margin: 40px 0;

      @media only screen and (max-width: $mobile) {
        margin: 28px 0 20px 0;
      }
    }
    
    .home-desc {
      margin-bottom: 40px;
    }

    & > * {
      max-width: 900px
    }
  }

  .scroll-container {  
    position: absolute;
    left: 50%;
    bottom: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);

    @media only screen and (max-width: $mobile) {
      bottom: 0%;
    }

    .scroll-button {
      border-radius: 50%;
      width: 60px;
      height: 60px;
      background: white;
      position: relative;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      transition: ease .3s;
    
      img {
        max-height: 75%;
        position: absolute;
        object-fit: contain;
        animation: arrow 3s cubic-bezier(.28,-0.22,.71,1.17) -1s infinite;
      }
    
      &:hover {
        background: $pink;
        width: 65px;
        height: 65px;
        top: 2.5px;
      }
    }

    .scroll-text {
      position: absolute;
      bottom: 4px;
    }

    .scroll-button:hover .scroll-text {
      color: $pink;
    }
  }
}

// #effective {
//   text-decoration: underline dashed rgba(255, 107, 107, 0);
//   transition: text-decoration ease .1s;

//   &:hover {
//     text-decoration: underline dashed rgba(255, 107, 107, 1);
//   }
// }

// #accesible {
//   text-decoration: underline double rgba(19, 208, 255, 0);
//   transition: text-decoration ease .1s;

//   &:hover {
//     text-decoration: underline double rgba(19, 208, 255, 1);
//   }
// }

#fun:hover {
  text-decoration: underline wavy rgba(89, 201, 165, 0);
  transition: text-decoration ease .1s;

  &:hover {
    text-decoration: underline wavy rgba(89, 201, 165, 1);
  }
}

#arrow1 {
  animation-delay: -1s;
}

#arrow2 {
  animation-delay: .5s;
}

.home-featured_container {
  width: 100%;
  margin: 0 auto;
  padding-top: 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .home-featured_content {
    width: auto;
    max-width: 1220px;
    margin: 0 80px;
    position: relative;

    @media only screen and (max-width: $mobile) {
      margin: 0 28px;
    }
    
    .home-featured_title, .home-other_title {
      margin: 0 auto;
      h2 {
        width: fit-content;
      }
    }
  }
}

.home-featured {
  width: 100%;
  max-width: 1220px;
  // padding: 0 24px;
  margin: 20vh auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;

  @media only screen and (max-width: $tablet) {
    flex-direction: column-reverse;
    gap: 2vh;
  }
}

.home-featured.first-div {
  margin-top: 8vh;
}

.home-featured_card {
  background: $mediumgray;
  // background: $pink;
  border-radius: 24px;
  width: 40%;
  height: fit-content;
  padding: 50px 50px 40px 50px;
  // margin: 0 2vw;
  margin: 0;
  position: relative;
  transition: ease .7s;

  @media only screen and (max-width: $tablet) {
    width: 100%;
  }

  @media only screen and (max-width: $mobile) {
    padding: 28px 28px 20px;
  }
}

.home-featured_card-shadow {
  border-radius: 24px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 8px;
  top: 8px;
  transition: ease .7s;
  z-index: -1;
}

.home-featured_card:hover {
  background-color: $lightgray;
  box-shadow: 0 0 5px 0 $darkgray;

  .home-featured_card-shadow {
    transform: translate(-8px, 8px);
  }

  .project-button_underline {
    transform: translateY(-16px);
  }

  .project-button_content {
    color: $pink;
  }
}

.home-featured_image {
  width: 60%;
  max-height: 100%;
  overflow: auto;
  transition: ease 2s;

  @media only screen and (max-width: $tablet) {
    width: 92%;
  }

  img {
    width: 100%;
    object-fit: contain;
  }

  &:hover {
    transform: translateY(-8px);
  }
}

.reverse-order {
  @extend .home-featured;
  flex-direction: row-reverse;

  @media only screen and (max-width: $tablet) {
    flex-direction: column-reverse;
  }

  .home-featured_card-shadow {
    right: -8px;
  }

  .home-featured_card:hover .home-featured_card-shadow {
    transform: translate(8px, 8px);
  }
}

.home-other_container {
  margin: 40px 0 80px 0;
}

.home-other_title {
  margin-bottom: 4vh;
}

.home-other_wrapper {
  margin: 0 auto;
  height: 48vh;
  min-height: 480px;
  width: 100vw;   
  max-width: 100%;    
  position: relative;
}

.home-other_scroll {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  z-index: -2;

  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  background: $darkgray;
}

// .home-other_child {
//   height: 10vh;
//   width: 150%;
//   position: relative;
//   display: flex;
// }

.home-other {
  color: $black;
  min-width: 380px;
  width: 20%;
  height: calc(100% - 24px);
  background: $mediumgray;
  // outline: 20px solid $darkgray;
  border-radius: 24px;
  padding: 50px;
  margin: 16px;
  scroll-behavior: smooth;
  scroll-snap-type: none;
  position: relative;
  // left: 10vw;

  &:first-child {
    margin-left: 16vw;
  }

  &:last-child {
    margin-right: 16vw;
  }
}

.home-other_card {
  background: $mediumgray;
  border-radius: 24px;
  min-width: 300px;
  width: 100%;
  height: 100%;
  padding: 50px;
  position: absolute;
  left: 0;
  top: 0;
  transition: ease .7s;

  z-index: 1;
}

.home-other_card-shadow {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;

  z-index: 0;
}

.scrollLeftBtn, .scrollRightBtn {
  background: $white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  box-shadow: 0 0 5px 0 $darkgray-50;
  transition: ease .3s;

  z-index: 10;

   img {
    max-height: 75%;
   }
}

.scrollLeftBtn {
  left: 4vw;
  top: 50%;
  transform: translate(-50%, -50%);

  img {
    transform: rotate(90deg);
  }

  &:hover {
    background: $pink;
    width: 60px;
    height: 60px;
  }
}
 
.scrollRightBtn {
  right: 4vw;
  top: 50%;
  transform: translate(50%, -50%);

  img {
    transform: rotate(-90deg);
  }

  &:hover {
    background: $pink;
    width: 60px;
    height: 60px;
  }
}


.project-button {
  height: 32px;
  position: relative;
  display: inline-block;
  overflow: hidden;

  .project-button_content {
    display: flex;
    align-items: center;
    z-index: 10;
    position: relative;
    
    &>* {
      margin-right: 8px;
    }
  
    img {
      width: auto;
      height: 18px;
    }
  }
  
  .project-button_underline {
    width: 100%;
    height: 12px;
    position: relative;
    top: 12px;
    transition: ease .3s;
    z-index: 1;
  }

  .pink-underline {
    background: $pink;
  }

  .blue-underline {
    background: $blue;
  }

  .seafoam-underline {
    background: $seafoam;
  }
}

.home-other:hover {

  .home-other_card {
    background: $lightgray;
    transform: translate(-12px, -12px);
    box-shadow: 0 0 5px 0 $darkgray;
  }

  .project-button_underline {
    transform: translateY(-16px);
  }
} 

.home-other_scroll::-webkit-scrollbar { 
  display: none;
}

.home-see-more {
  width: 100vw;
  max-width: 1200px;
  padding-right: 40px;
  margin: 60px auto 10px auto;
  display: flex;
  justify-content: right;

  .see-more-underline {
    background: $pink;
    width: 160px;
    height: 12px;
    position: relative;
    top: 12px;
    transition: ease .3s;
    z-index: 1;
  }
}

#see-more-button {
  height: 56px;

  img {
    height: 28px;
    padding-left: 12px;
  }

  #see-more-button_underline {
    height: 40px;
  }

  &:hover #see-more-button_underline{
    transform: translateY(-20px);
  }
}
















//making the scroll work






// .home-other_wrapper {
//     margin: 0 auto;
//     height: 53vh;
//     width: 100vw;   
//     max-width: 1200px;    
//     position: relative;
// }

// .home-other_scroll {
//     margin: 0 auto;
//     height: 53vh;
//     width: 100%;
//     overflow-x: scroll;
//     z-index: -2;

//     display: flex;
//     flex-wrap: nowrap;
//     overflow-x: scroll;
//     background: $darkgray;
// }

// .home-other_child {
//     height: 50vh;
//     width: 150%;
//     position: relative;
//     display: flex;
// }

// .clone {
//     position: absolute;
//     z-index: -3;
//     left: 0;
//     top: 0;
// }

// .transparent {
//     background: transparent;
// }

#home-other_billionaires-and-the-wealth-gap {
  h3 {
    font-size: 36px;
  }
}