/*




IMPORT




*/

@import "fonts.scss";
@import "colors.scss";


/*








AUTO SETTINGS








*/

* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
}

body {
  background: $dark-gray-1;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6{
  font-family: $raleway;
  color: $white;
}

p {
  font-family: $jost;
  color: $white;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/*








NAVIGATION








*/

.navigation {
  background: $dark-gray-2;
  // box-shadow: 0 0 10px 0 $purple;
  width: 100vw;
  height: 110px;
  padding: 10px 80px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.nav-buttons {
  font-family: $raleway;

  a{
    color: $white;
    font-size: 20px;
    padding: 15px;
    margin: 0;
    transition: ease .3s;

    &:hover {
      background: $dark-gray-2;
      color: $white;
    }
  }
}

.nav-logo {
  font-family: $raleway;
  font-size: 30px;
  line-height: 40px;
  color: $white;
}

.current {
  background: $dark-gray-1;
  color: $white !important;

  a:hover {
    background: $dark-gray-1;
  }
}

/*








CONTENT








*/

div.content {
  max-width: 100vw;
  position: relative;
  top: 110px;
  overflow: hidden;
}

.portfolio-container{
  // display: flex;
  // justify-content: center;
  // align-items: flex-start;
  // flex-wrap: wrap;
  // // margin: 0 10vw;
  // // align-content: stretch;
  // // flex-direction: column;
  // max-height: 70vh;
  // flex: 1 1 33%;

  margin: 0 18vw;
  column-count: 3;
  column-gap: 10px;

  position: relative;
  display: block;

  .portfolio-card {
    background: $gray-2;
    border: 1px solid $dark-gray-2;
    border-radius: 20px;
    width: 20vw;
    max-width: 500px;
    min-width: 200px;
    height: min-content;
    margin: 5px;
    position: relative;
    flex: 1 1 160px;
    break-inside: avoid;
    // display: block;
    // align-items: stretch;

    img {
      max-width: 100%;
      object-fit: contain;
      border-radius: 20px 20px 0 0;
    }

    .portfolio-card-body {
      margin: 20px;
    }

    span.tool {
      border: 1px solid $blue;
      border-radius: 16px;
      padding: 2px 12px;
      margin: 4px 2px;
      display: inline-block;
    }

    span.illustrator {
      border: 1px solid $illustrator !important;
    }

    span.indesign {
      border: 1px solid $indesign !important;
    }

    span.photoshop {
      border: 1px solid $photoshop !important;
    }

  }
}
