.navigation {
  // background: $dark-gray-2;
  // box-shadow: 0 0 10px 0 $purple;
  width: 100vw;
  height: 60px;
  padding: 0 80px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.nav-logo {
  background: $blue;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 5px 0 $dark-gray-2-50;
  height: 70px;
  padding: 10px 25px;
  display: flex;
  align-items: flex-end;
  transition: ease .3s;

  h4 {
    color: $dark-gray-2;
    font-family: $raleway;
  }

  &:hover {
    background: $white;
  }
}

.nav-button-container {
  font-family: $raleway;
  height: 80%;
  position: relative;
  display: flex;
  align-items: flex-end;

  // top: 20px;

  a {
    color: $white;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 2px 0 $dark-gray-2-50;
    font-size: 18px;
    padding: 15px 20px;
    margin: 0 5px;
    display: flex;
    align-items: flex-end;
    transition: ease 0.3s;

    &:not(.current) {
      background: $med-gray-1;
      height: 80px;
    }
  }
}

a.current {
  background: $pink;
  color: $dark-gray-2;
  font-family: $ralewayBold;
  font-size: 20px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 5px 0 $dark-gray-2-50;
  height: 80px;
  padding: 15px 20px;
  position: relative;
  top: 10px;
  
  &#home {
    background: $pink;
  
    &:hover {
      background: $white;
    }
  }
  
  &#portfolio {
    background: $blue;
  
    &:hover {
      background: $white;
    }
  }
  
  &#about {
    background: $seafoam;
  
    &:hover {
      background: $white;
    }
  }
  
  &#contact {
    background: $purple;
  
    &:hover {
      background: $white;
    }
  }
  
}

#home:not(.current):hover {
  background: $pink;
  color: $dark-gray-2;
  transform: translateY(10px);
}

#portfolio:not(.current):hover {
  background: $blue;
  color: $dark-gray-2;
  transform: translateY(10px);
}

#about:not(.current):hover {
  background: $seafoam;
  color: $dark-gray-2;
  transform: translateY(10px);
}

#contact:not(.current):hover {
  background: $purple;
  color: $dark-gray-2;
  transform: translateY(10px);
}
