.project-hero {
    width: 100%;
    max-width: 1440px;
    height: calc(100vh - 240px);
    margin: 90px auto 160px;
    position: relative;
    // display: flex;
    // align-items: flex-start;
    // justify-content: flex-start;
    // flex-direction: column;
}

.project-hero_image {
    max-width: 1440px;
    height: 100%;
    margin: 0 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
    object-fit: cover;

    img {
        border-radius: 24px;
        width: 100%;
        height: 100%;        
        object-fit: cover;
    }
}

.project-hero_content {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    position: relative;
    bottom: 12%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;


    .project-hero_desc {
        border-radius: 24px;
        width: min-content;
        max-width: 900px;
        height: auto;
        padding: 40px 120px 40px 40px;
        // margin: 0 auto;
        position: relative;
        // bottom: -12%;
        // left: 16%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // transform: translate(0%, -50%);
        
    
        h6 {
            padding-top: 16px;
        }
    
        .project-hero_desc-text {
            position: relative;
            bottom: 8px;
            left: 8px;
            z-index: 3;
        }
    }

    .scroll-container {
        display: flex;
        transition: ease .25s;

        p {
            margin: 0;
            padding-right: 12px;
        }

        .scroll {
            animation: bounce 2s alternate;
        }


        &:hover > .scroll {
            animation: bounce 2s;
        }

    }
}

.project-hero_desc-shadow {
    background: $gray-2;
    border-radius: 24px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 8px;
    bottom: 8px;
    transition: ease 1s;
    z-index: 2;
}

.subtitle {
    font-family: $arvo;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
}

.project-content_container {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto 140px auto;
    height: 100%;
}

.project_text {
    margin: 0 auto;
}

.project_section {
    // min-height: 90vh;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:nth-child(even) {
        background: $gray-2;
        border-radius: 24px;
    }

    &>*:not(h4):not(h6) {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    h4, h6 {
        position: relative;
        left: 12.5%;
        // margin-top: 64px;
    }

    p>img {
        float: left;
        margin: 20px 40px 20px 0;
        border-radius: 16px;
        max-width: 48%;
        min-width: 400px;
    }

    // p img.left {
    //     float: left;
    //     margin: 20px 40px 20px 0;
    //     border-radius: 16px;
    //     max-width: 48%;
    //     min-width: 400px;
    // }

    p img.right {
        float: right;
        margin: 20px 0 20px 40px;
        border-radius: 16px;
        max-width: 48%;
        min-width: 400px;
    }

    a {
        text-decoration: underline;
        font-weight: bold;
        transition: ease .2s;

        &:hover {
            color: $pink;
        }
    }
}


.pull-quote {
    font-family: $arvo;
    font-style: italic;
    // background: $gray-2;
    margin: 40px;
    padding: 0 40px;
    max-width: 700px;
}

.project_gallery {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    // gap: 12px;

    img {
        border-radius: 16px;
        margin: 0 0 2% 0;
        max-width: 49%;
        flex: 50%;        
        transition: ease .5s;
    }
}

.project_image-info {
    max-width: 1000px;
    height: 250px;
    margin: 40px auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    img {
        border-radius: 16px;
        max-width: 48%;
        min-width: 400px;
    }
    .project_image-info_text{
        width: 48%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 20px;
    }

    p {
        margin-top: 20px;
    }
}

.info-reverse {
    flex-direction: row-reverse;
}

.project_image-center {
    max-width: 1000px;
    margin: 0 auto;
    
    img {
        max-width: 100%;
        border-radius: 24px;
        margin: 10px 0;
    }
}

.project-content_split-highlight:hover .project-button_underline {
    transform: translateY(-16px);
}


ol {
    list-style: none;
    counter-reset: my-counter;
    position: relative;

    li {
        counter-increment: my-counter;
        min-height: 80px;
        max-width: 600px;
        padding: 20px 20px;

        &::before {
            content: counter(my-counter) ".";
            color: $black;
            background: $blue;
            border-radius: 50%;
            font-size: 24px;
            width: 40px;
            height: 40px;
            position: absolute;
            left: -4px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

video {
    border-radius: 24px;
    position: relative;
    z-index: 100;
}

.caption {
    font-size: 16px;
    font-style: italic;
}






















// button {
//     background: green;
//     position: absolute;
//     z-index: 1;
// }

// .slick-list {
//     overflow: hidden;
// }

// .prev {
//     display: block;
//     height: 20px;
//     width: 20px;
//     // background: url('../assets/images/scroll-arrow-01.png') no-repeat;
//     background-color: white;
//   }

// .next {
//     display: block;
//     height: 20px;
//     width: 20px;
//     // background: url('../assets/images/scroll-arrow-01.png') no-repeat;
//     background-color: white;
// }