.project_container {
    max-width: 1440px;
    margin: 0 auto;
}

.project-content_split {
    // width: 100%;
    max-width: 1220px;
    min-height: 30vh;
    max-height: calc(100vh - 100px);
    margin: 0 108px;
    padding: 80px 0;
    position: relative;
    display: flex;
    justify-content: space-between;

    .project-content_split-highlight {
        background: $gray-2;
        border-radius: 24px;
        width: 50%;
        height: 100%;
        padding: 40px 20px 40px 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        span:not(.tool) {
            font-family: $ralewayBold;
            text-decoration: underline;
        }

        div:not(.project-button) {
            display: flex;
            align-items: center;

            p {
                margin-right: 12px;
            }
        }

        p {
            margin: 0 0 16px;
        }

        a {
            margin: 12px 0 0 0;
        }
    }

    .project-content_split-summary {
        width: 40%;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;

        h5 {
            width: max-content;
            border-bottom: $pink 8px solid;
        }

        // div {
        //     width: 200px;
        //     height: 12px;
        //     position: relative;
        //     bottom: 4px;
        //     z-index: -1;
        //     margin-bottom: 12px;
        // }
    }








    // .home-radar-button {
    //     width: 332px;
    // }

    // .vcuarts-alumni-gift-guide-button {
    //     width: 400px;
    // }

    // .chattycatty-button {
    //     width: 316px;

    //     &.project-button_underline {
    //         background: $blue;
    //     }
    // }

    // .kyrees-squishies-button {
    //     width: 340px;

    //     // &.project-button_underline {
    //     //     background: $blue;
    //     // }
    // }

    // .dr-yasmiyn-irizarry-button {
    //     width: 312px;

    //     &.project-button_underline {
    //         background: $pink;
    //     }
    // }

    // .project-button {
    //     margin-top: 12px;
    // }
}

