.project-content_split {
    width: auto;
    min-height: 30vh;
    max-height: calc(100vh - 100px);
    margin: 0 0 60px 0;
    position: relative;
    display: flex;
    justify-content: space-between;

    .project-content_split-highlight {
        background: $gray-2;
        border-radius: 24px;
        width: 50%;
        height: 100%;
        padding: 40px 20px 40px 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        span:not(.tool) {
            font-family: $ralewayBold;
            text-decoration: underline;
        }

        div:not(.project-button) {
            display: flex;
            align-items: center;

            p {
                margin-right: 12px;
            }
        }

        p {
            margin: 8px 0;
            font-size: 20px;
        }

        a {
            margin: 12px 0 0 0;
        }
    }

    .project-content_split-summary {
        width: 40%;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        div {
            width: 200px;
            height: 12px;
            position: relative;
            bottom: 4px;
            z-index: -1;
            margin-bottom: 12px;
        }
    }








    // .home-radar-button {
    //     width: 332px;
    // }

    // .vcuarts-alumni-gift-guide-button {
    //     width: 400px;
    // }

    // .chattycatty-button {
    //     width: 316px;

    //     &.project-button_underline {
    //         background: $blue;
    //     }
    // }

    // .kyrees-squishies-button {
    //     width: 340px;

    //     // &.project-button_underline {
    //     //     background: $blue;
    //     // }
    // }

    // .dr-yasmiyn-irizarry-button {
    //     width: 312px;

    //     &.project-button_underline {
    //         background: $pink;
    //     }
    // }

    // .project-button {
    //     margin-top: 12px;
    // }

    .scroll {
        width: 40px;
        height: 40px;
        position: absolute;
        bottom: -60px;
        left: 51%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(90deg);
        transition: ease .25s;

        img {
            height: 20px;
        }


        &:hover {
            animation: bounce 2s;
        }
    }

}

