.project-hero {
    margin-bottom: 60px;
    margin-top: 80px;
    width: 100vw;
    height: 40vh;
    margin-top: 100px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.project-hero_desc {
    background: $gray-2;
    border-radius: 24px;
    width: 88vw;
    min-height: 50%;
    padding: 40px 52% 40px 100px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h6 {
        padding-top: 16px;
    }
}

.project-hero_desc-shadow {
    // background: $pink;
    border-radius: 24px;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 8px;
    top: 8px;
    transition: ease 1s;
    z-index: -1;
}

.project-hero_image {
    width: 32%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 12%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        border-radius: 24px;
        width: auto;
        max-width: 100%;
        // min-height: 250px;
        max-height: 100%;
        object-fit: cover;
    }
}

.subtitle {
    font-family: $arvo;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
}

.project-content_container {
    width: 80vw;
    max-width: 1200px;
    margin: 0 auto 140px auto;
    height: 100%;
}

.project_text {
    margin: 0 auto;
}

.project_section {
    // min-height: 90vh;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:nth-child(even) {
        background: $gray-2;
        border-radius: 24px;
    }

    &>*:not(h3):not(h6) {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    h3, h6 {
        position: relative;
        left: 12.5%;
        // margin-top: 64px;
    }

    p>img {
        float: left;
        margin: 20px 40px 20px 0;
        border-radius: 16px;
        max-width: 48%;
        min-width: 400px;
    }

    // p img.left {
    //     float: left;
    //     margin: 20px 40px 20px 0;
    //     border-radius: 16px;
    //     max-width: 48%;
    //     min-width: 400px;
    // }

    p img.right {
        float: right;
        margin: 20px 0 20px 40px;
        border-radius: 16px;
        max-width: 48%;
        min-width: 400px;
    }

    a {
        text-decoration: underline;
        font-weight: bold;
        transition: ease .2s;

        &:hover {
            color: $blue;
        }
    }
}

.subhead {
    font-family: $arvo;
    font-weight: 400;
    font-style: italic;
    border-left: 4px $blue solid;
    padding: 0 0 0 20px;
    margin-top: 20px;
    position: relative;
    right: 40px;
}



.pull-quote {
    font-family: $arvo;
    font-style: italic;
    // background: $gray-2;
    margin: 40px;
    padding: 0 40px;
    max-width: 700px;
}

.project_gallery {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    // gap: 12px;

    img {
        border-radius: 16px;
        margin: 0 0 2% 0;
        max-width: 49%;
        flex: 50%;        
        transition: ease .5s;
    }
}

.project_image-info {
    max-width: 1000px;
    height: 250px;
    margin: 40px auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    img {
        border-radius: 16px;
        max-width: 48%;
        min-width: 400px;
    }
    .project_image-info_text{
        width: 48%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 20px;
    }

    p {
        margin-top: 20px;
    }
}

.info-reverse {
    flex-direction: row-reverse;
}

.project_image-center {
    max-width: 1000px;
    margin: 0 auto;
    
    img {
        max-width: 100%;
        border-radius: 24px;
        margin: 10px 0;
    }
}

.project-content_split-highlight:hover .project-button_underline {
    transform: translateY(-16px);
}


ol {
    list-style: none;
    counter-reset: my-counter;
    position: relative;

    li {
        counter-increment: my-counter;
        min-height: 80px;
        max-width: 600px;
        padding: 20px 20px;

        &::before {
            content: counter(my-counter) ".";
            color: $black;
            background: $blue;
            border-radius: 50%;
            font-size: 24px;
            width: 40px;
            height: 40px;
            position: absolute;
            left: -4px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

video {
    border-radius: 24px;
    position: relative;
    z-index: 100;
}

.caption {
    font-size: 16px;
    font-style: italic;
}






















// button {
//     background: green;
//     position: absolute;
//     z-index: 1;
// }

// .slick-list {
//     overflow: hidden;
// }

// .prev {
//     display: block;
//     height: 20px;
//     width: 20px;
//     // background: url('../assets/images/scroll-arrow-01.png') no-repeat;
//     background-color: white;
//   }

// .next {
//     display: block;
//     height: 20px;
//     width: 20px;
//     // background: url('../assets/images/scroll-arrow-01.png') no-repeat;
//     background-color: white;
// }