.project-hero {
    margin-bottom: 60px;
    margin-top: 80px;
    width: 100vw;
    height: 40vh;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.project-hero_desc {
    max-width: 40%;
    padding-left: 80px;
    position: relative;
}

.project-hero_image {
    width: 40%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        border-radius: 24px;
        width: auto;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}

.project-content_container {
    width: 80vw;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    margin-bottom: 100px;
}

.project-content_split {
    width: auto;
    height: 20vh;
    position: relative;
    display: flex;

    p {
        width: 50%;
        margin: 0;
    }
}

.project-content_split-highlight {
    background: $pink;
    border-radius: 24px;
    width: 50%;
    height: 100%;
}

