@media only screen and (max-width: 1050px) {
    .home-intro-container {
        .home-intro-content {
            padding-right: 0;
        }
    }
}

@media only screen and (max-width: 900px) {

    h1.hero {
    font-size: 64px;
    }
    
    h1 {
    font-size: 48px;
    }
    
    h2 {
    font-size: 40px;
    }
    
    h3 {
    font-size: 32x;
    }
    
    h4 {
    font-size: 28px;
    }
    
    h5 {
    font-size: 24px;
    }
    
    h6 {
    font-size: 18px;
    }

    .nav-logo-name {
        font-size: 20px;
    }

    .home-featured {
        flex-direction: column-reverse;
        gap: 2vh;
    }

    .home-featured_card {
        width: 100%;
    }

    .home-featured_image {
        width: 92%;
    }


    .project-content_split {
       flex-direction: column;
       gap: 20px;
       padding: 60px 0;

        .project-content_split-highlight {
            width: 100%;
        }
    
        .project-content_split-summary {
            width: 80%;
        }
    
    
    
    
    
    
    
    
        // .home-radar-button {
        //     width: 332px;
        // }
    
        // .vcuarts-alumni-gift-guide-button {
        //     width: 400px;
        // }
    
        // .chattycatty-button {
        //     width: 316px;
    
        //     &.project-button_underline {
        //         background: $blue;
        //     }
        // }
    
        // .kyrees-squishies-button {
        //     width: 340px;
    
        //     // &.project-button_underline {
        //     //     background: $blue;
        //     // }
        // }
    
        // .dr-yasmiyn-irizarry-button {
        //     width: 312px;
    
        //     &.project-button_underline {
        //         background: $pink;
        //     }
        // }
    
        // .project-button {
        //     margin-top: 12px;
        // }
    }
    
    
}


@media only screen and (max-width: 650px) {

    h1.hero {
    font-size: 40px;
    }
    
    h1 {
    font-size: 36px;
    }
    
    h2 {
    font-size: 28px;
    }
    
    h3 {
    font-size: 26x;
    }
    
    h4 {
    font-size: 22px;
    }
    
    h5 {
    font-size: 20px;
    }
    
    p {
        font-size: 16px;
    }

    .navigation {
        padding: 0 28px;
    }


    .home-intro-container {      
        .home-intro-content {
          margin: 0 28px;
        }
        .scroll-container {  
            bottom: 0%
        }
    }

    .home-featured_container {     
        .home-featured_content {
          margin: 0 28px;
        }
      }


    .home-blurb {
        margin: 28px 0 20px 0;
    }

    .home-featured_card {
        padding: 28px 28px 20px;
    }

}