::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: $dark-gray-2;
    border: 1px solid $dark-gray-2;
    border-radius: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: $med-gray-1;
    border-radius: 10px;
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: $gray-1;
    border-radius: 10px;
  }
  