* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  padding: 0;
  margin: 0;
}

body {
  background: $dark-gray-2;
  padding: 0;
  margin: 0;
  position: relative;
}

div.content {
  max-width: 100vw;
  min-height: calc(100vh - 60px);
  position: relative;
  // top: 60px;
  display: block;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
  font-family: $raleway;
  color: $white;
  margin: 0;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

p {
  font-size: 18px;
  font-family: $jost;
  color: $white;
}

a {
  text-decoration: none;
}

img {
  font-family: $jost;
}

.pink {
  color: $pink;
}

.blue {
  color: $blue;
}

.seafoam {
  color: $seafoam;
}

.underline {
  text-decoration: underline dotted;
}

.dash-pink {
  border-top: 12px solid $pink;
  width: 45px;
  margin-right: 5px;
}

.dash-blue {
  border-top: 12px solid $blue;
  width: 45px;
  margin-right: 5px;
}

.dash-seafoam {
  border-top: 12px solid $seafoam;
  width: 45px;
  margin-right: 5px;
}

.dash-pink-mini {
  border-top: 8px solid $pink;
  width: 28px;
  margin-bottom: 5px;
}

.none {
  display: none;
}