---
layout: default
---

{% for project in site.projects %}

{% include assign.html %}
 
    {% if page.url contains project_id %}

        <div class="project-hero">
            <div class="project-hero_desc">
                <div class="{% cycle 'dash-pink-h2', 'dash-blue-h2', 'dash-seafoam-h2' %}"></div>
                <h2>{{ project_fullname }}</h2>
                {% if project.subtitle %}
                    <h6 class="subtitle">{{ project_subtitle }}</h6>
                {% endif %}
                <div class="project-hero_desc-shadow {% cycle 'pink-bkgd', 'blue-bkgd', 'seafoam-bkgd' %}"></div>
            </div>
            <div class="project-hero_image">
                <img class="cover-img" id="{{ project_id }}_cover-img" src="../assets/portfolio/{{ priority }}/{{ project_id }}/{{ project_img }}" alt="{{ project_name }}: {{project_desc}}" />
            </div>
        </div>
        <div class="project-content_container project-text">
            {{ content }}
        </div>
    {% endif %}

{% endfor %}